<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZZStreamPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49C5844D1CC4AEA100E79E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C584661CC4AEA200E79E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49C584711CC4AEA200E79E33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
